<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.julius.wisdom_teaching.repository.CourseManageMapper">

    <resultMap id="baseResult1" type="Course">
        <result property="createName" column="create_name"/>
        <result property="createDate" column="create_date"/>
        <result property="updateDate" column="update_date"/>
    </resultMap>

    <insert id="add">
    INSERT  INTO course(label,describes,value,
                 create_name,create_date,update_date)
     VALUES(
         #{label},
         #{describes},
         #{value},
         #{createName},
         NOW(),
         NOW()
        )
    </insert>

    <update id="update">
    UPDATE    course
    SET
    label=#{label},
    describes=#{describes},
    value=#{value},
    create_name=#{createName},
    update_date=NOW()
    WHERE id=#{id}
    </update>

    <update id="courseDelete">
      UPDATE course
      SET    delete_flag='0'
      WHERE  id=#{id}
    </update>
    <select id="selectCourse" resultMap="baseResult1">
        SELECT id,label,describes,value,create_name,create_date,update_date
        FROM course
        <where>
            <if test="label!=null">
                AND label LIKE CONCAT('%',#{label},'%')
            </if>
            <if test="value!=null">
                AND value= #{value}
            </if>
            AND delete_flag='1'
        </where>
    </select>
</mapper>
