<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.julius.wisdom_teaching.repository.ExaminationManageMapper">
    <resultMap id="baseSelectSQL" type="ExaminationRecord">
        <result property="selectA" column="select_a"/>
        <result property="selectB" column="select_b"/>
        <result property="selectC" column="select_c"/>
        <result property="selectD" column="select_d"/>
        <result property="selectE" column="select_e"/>
        <result property="selectF" column="select_f"/>
        <result property="selectG" column="select_g"/>
        <result property="analyze" column="e_analyze"/>
    </resultMap>

    <insert id="add" useGeneratedKeys="true" keyProperty="id">
        INSERT  INTO examination
        (name,describes,course_id,create_name,
        create_date,update_date)
        VALUES
        (#{name},#{describes},#{courseId},#{createName},NOW(),NOW())
    </insert>

    <insert id="addRecord">
    INSERT INTO examination_record
    (question,select_a,select_b,select_c,
     select_d,select_e,select_f,
     select_g,correct,e_analyze,question_type,
     examination_id
    )
    VALUES
    (
    #{question},#{selectA},#{selectB},#{selectC},
    #{selectD},#{selectE},#{selectF},#{selectG},
    #{correct},#{analyze},#{questionType},#{examinationId}
    )
    </insert>

    <select id="selectExaminationByCourseId" resultType="Examination">
       SELECT   id AS value,name AS label
       FROM     examination
       WHERE    course_id=#{id}
    </select>

    <select id="selectExaminationRecord" resultMap="baseSelectSQL">
     SELECT  id,question,select_a,select_b,select_c,
     select_d,select_e,select_f,select_g,correct,e_analyze
     FROM examination_record
     WHERE question_type=#{questionType}
     AND examination_id=#{examinationId}
     AND delete_flag='1'
    </select>
    <insert id="addRecordTest">
        INSERT INTO examination_record(question,select_a,select_b,select_c,select_d )
        VALUES
        <foreach collection="records" item="item" separator=",">
            (
            #{item.question},#{item.selectA},#{item.selectB},#{item.selectC},
            #{item.selectD}
            )
        </foreach>
    </insert>
</mapper>
