<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.julius.wisdom_teaching.repository.ExaminationManageMapper">
    <resultMap id="baseSelectSQL" type="ExaminationRecord">
        <result property="selectA" column="select_a"/>
        <result property="selectB" column="select_b"/>
        <result property="selectC" column="select_c"/>
        <result property="selectD" column="select_d"/>
        <result property="selectE" column="select_e"/>
        <result property="selectF" column="select_f"/>
        <result property="analyze" column="e_analyze"/>
    </resultMap>

    <insert id="add" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO examination
        (name,
        describes,
        course_id,
        user_id,
        create_date,
        update_date)
        VALUES
        (
            #{name},
            #{describes},
            #{courseId},
            #{userId},
            NOW(),
            NOW()
        )
    </insert>

    <insert id="addRecord">
    INSERT INTO examination_record
    (question,select_a,select_b,select_c,
     select_d,select_e,select_f,
     select_g,correct,e_analyze,question_type,
     examination_id
    )
    VALUES
    (
    #{question},#{selectA},#{selectB},#{selectC},
    #{selectD},#{selectE},#{selectF},#{selectG},
    #{correct},#{analyze},#{questionType},#{examinationId}
    )
    </insert>

    <update id="examination_update">
        UPDATE examination
        <set>
            <if test="name!=null">
                name=#{name},
            </if>
            <if test="content!=null">
                content=#{content},
            </if>
        </set>
        WHERE id=#{id}
    </update>

    <delete id="examinationDelete">
         UPDATE  examination
         SET     delete_flag='0'
         WHERE  id=#{id}
    </delete>

    <select id="examinationSelect" resultType="Examination">
        SELECT  id,name,content FROM  examination
        WHERE   id=#{id}
                 AND delete_flag='1'
    </select>

    <select id="selectExaminationByCourseId" resultType="Examination">
       SELECT   id AS value,name AS label
       FROM     examination
       WHERE    course_id=#{id}
                 AND delete_flag='1'
    </select>

    <select id="selectExaminationRecord" resultMap="baseSelectSQL">
   SELECT
	er.id,
	question,
	select_a,
	select_b,
	select_c,
	select_d,
	select_e,
	select_f,
	correct,
	e_analyze
    FROM
	examination_record  er
    RIGHT JOIN examination ex ON  ex.id=er.examination_id
    WHERE
	   er.question_type =#{questionType}
   AND er.examination_id = #{examinationId}
   AND er.delete_flag = '1'
   AND ex.delete_flag = '1'
    </select>
    <insert id="addRecordTest">
        INSERT INTO examination_record(question,select_a,select_b,select_c,select_d )
        VALUES
        <foreach collection="records" item="item" separator=",">
            (
            #{item.question},#{item.selectA},#{item.selectB},#{item.selectC},
            #{item.selectD}
            )
        </foreach>
    </insert>

    <insert id="addRecords">
        INSERT INTO examination_record
        (question,
        select_a,
        select_b,
        select_c,
        select_d,
        select_e,
        select_f,
        correct,
        e_analyze,
        score,
        question_type,
        examination_id
        )
        VALUES
        <foreach collection="records" item="record" separator=",">
            (
            #{record.question},
            #{record.selectA},
            #{record.selectB},
            #{record.selectC},
            #{record.selectD},
            #{record.selectE},
            #{record.selectF},
            #{record.correct},
            #{record.analyze},
            #{record.score},
            #{record.questionType},
            #{examinationId}
            )
        </foreach>
    </insert>

    <insert id="examinationAdd">
        INSERT INTO  examination
        (name,content,course_id,user_id,create_date,update_date)
        VALUES(
        #{name},
        #{content},
        #{courseId},
        #{userId},
        NOW(),
        NOW()
        )
    </insert>
</mapper>
