<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.julius.wisdom_teaching.repository.HomeWorkMapper">
    <select id="selectHomeWorkByTeacherName" resultType="HomeWork">
      SELECT   id,name,path,describes,create_date AS createDate
      FROM     home_work
      WHERE    teacher_name=#{teacherName}
               AND delete_flag='1'
    </select>
</mapper>
