<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.julius.wisdom_teaching.repository.HomeWorkStateMapper">

    <resultMap id="baseSelectMap" type="HomeWorkState">
        <id property="id" column="id"/>
        <result property="homeWork.name" column="name"/>
        <result property="homeWork.path" column="path"/>
        <result property="homeWork.describes" column="describes"/>
        <result property="homeWork.userId" column="user_id"/>
        <result property="submitState" column="submit_state"/>
    </resultMap>

    <resultMap id="baseSelectMap2" type="HomeWorkState">
        <id property="id" column="id"/>
        <result property="submitPath" column="submit_path"/>
        <result property="submitState" column="submit_state"/>
        <result property="score" column="score"/>
        <result property="remark" column="remark"/>
        <result property="homeWork.name" column="name"/>
        <result property="user.name" column="u_name"/>
    </resultMap>
    <resultMap id="baseSelectMap3" type="HomeWorkState">
        <result property="homeWork.name" column="name"/>
        <result property="userId" column="user_id"/>
        <result property="submitState" column="submit_state"/>
        <result property="score" column="score"/>
        <result property="remark" column="remark"/>
    </resultMap>
    <insert id="pushTask">
        INSERT INTO home_work_state
        (student_id,user_id,home_work_id,create_date)
        VALUES
        <foreach collection="homeWorkStates" item="item" separator=",">
            (
            #{item.studentId},
            #{item.userId},
            #{item.homeWorkId},
            NOW()
            )
        </foreach>
    </insert>
    <update id="updateTaskSubmitState">
      UPDATE home_work_state
      SET    submit_state='1',
             submit_path=#{submitPath}
      WHERE id=#{id}
    </update>
    <update id="studentSubmitTaskCorrect">
        UPDATE home_work_state
        <set>
            score=#{score},
            remark=#{remark}
        </set>
        WHERE id=#{id}
    </update>
    <select id="selectTaskSubmitState" resultMap="baseSelectMap">
    SELECT
    hms.id,
	hm.name,
	hm.path,
	hm.describes,
    hm.teacher_name,
    hms.submit_state
    FROM
	home_work AS hm
    LEFT JOIN home_work_state AS hms ON hm.id = hms.home_work_id
    WHERE
	hms.student_id =#{studentId}
    AND hm.delete_flag='1'
    </select>
    <select id="studentSubmitTaskRead" resultMap="baseSelectMap2">
    SELECT
	ts. NAME,
	hm. NAME,
	hms.submit_state,
	hms.submit_path
    FROM
	home_work_state AS hms
    LEFT JOIN home_work AS hm ON hms.home_work_id = hm.id
    LEFT JOIN teacher_student AS ts ON hms.student_id = ts.id
    WHERE
	     hms.user_id=#{userId}
	     AND  hms.delete_flag='1'
    </select>
    <select id="studentCheckTaskScore" resultMap="baseSelectMap3">
    SELECT
	hm.NAME,
	hms.teacher_name,
	hms.submit_state,
	hms.score,
	hms.remark
    FROM
	home_work AS hm
    LEFT JOIN home_work_state AS hms ON hm.id = hms.home_work_id
    WHERE
	hms.student_id = (
		SELECT
			su.student_id
		FROM
			USER u
		LEFT JOIN student_user su ON u.id = su.user_id
		WHERE
			username =#{username}
	)
    </select>

</mapper>
