<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.julius.wisdom_teaching.repository.HomeWorkStateMapper">

    <insert id="pushTask">
        INSERT INTO home_work_state
        (student_id,teacher_name,home_work_id,create_date)
        VALUES
        <foreach collection="homeWorkStates" item="item" separator=",">
            (
            #{item.studentId},
            #{item.teacherName},
            #{item.homeWorkId},
            NOW()
            )
        </foreach>
    </insert>
</mapper>
