<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.julius.wisdom_teaching.repository.StudentUserMapper">

    <insert id="addStudentUseTest">
        INSERT INTO student(sex,grade,number,department,major,class_teacher)
        VALUES
        <foreach collection="studentInfos" item="item" separator=",">
            (#{item.sex},#{item.grade},
            #{item.number},#{item.department},
            #{item.major},#{item.classTeacher})
        </foreach>
    </insert>

    <select id="selectStudentUserInfo" resultType="StudentUser">
        SELECT  student_id AS studentId,user_id AS userId
        FROM    student_user
        WHERE   id=#{id}
    </select>
    <select id="selectStudentIdByTeacherName" resultType="integer">
        SELECT  student_id FROM student_user
        WHERE teacher_name=#{teacherName}
    </select>

    <select id="selectStudentUserInfoByUserId" resultType="java.lang.Integer">
      SELECT  student_id AS studentId
      FROM    student_user
      WHERE   user_id=#{userId}
    </select>

</mapper>
