<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.julius.wisdom_teaching.repository.StudentInfoCheckMapper">
    <!--通用查询SQL-->
    <sql id="baseSelectSQL">
        SELECT id,name,id_number,sex,birth_date,junior_number,junior_class,
        junior_grade,main_academy,major_number,major_name,exam_registration_number,
        department,grade_number
        FROM  student_info_all
    </sql>

    <insert id="insertStudentInfo">
        INSERT INTO
        student_info_all
        (
        name,id_number,sex,birth_date,junior_number,junior_class,
        junior_grade,main_academy,major_number,major_name,
        exam_registration_number,department,grade_number
        )
        VALUES
            (
            #{name},#{idNumber},#{sex},#{birthDate},
            #{juniorNumber},#{juniorClass},#{juniorGrade},#{mainAcademy},
            #{majorNumber},#{majorName},#{examRegistrationNumber},#{department},
            #{gradeNumber}
            )
    </insert>

    <select id="selectStudentInfoByCondition" resultType="StudentInfo">
        SELECT
        id,
        name,
        sex,
        grade,
        number,
        department,
        major,
        class_teacher AS classTeacher
        FROM teacher_student
        <where>
            <if test="name!=null">
                name LIKE CONCAT('%',#{name},'%')
            </if>
            <if test="number!=null">
                number=#{number}
            </if>
            <if test="grade!=null">
                grade=#{grade}
            </if>
            <if test="department!=null">
                department LIKE CONCAT('%',#{department},'%')
            </if>
            <if test="major!=null">
                major LIKE CONCAT('%',#{major},'%')
            </if>
            AND delete_flag='1'
            AND user_id=#{userId}
        </where>
    </select>
    <select id="selectStudentById" resultType="StudentInfo">
        SELECT
        id,
        name,
        sex,
        grade,
        number,
        department,
        major,
        class_teacher AS classTeacher
        FROM teacher_student
        WHERE id IN
        <foreach collection="ids" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </select>
    <select id="selectStudentInfoByNumber" resultType="StudentInfo">
        SELECT
        su.student_id AS studentId,
        s.sex,
        s.grade,
        s.number,
        s.department,
        s.major,
        u.name,
        s.class_teacher AS classTeacher
        FROM
        student s
        LEFT JOIN student_user su ON su.student_id=s.id
        LEFT JOIN user u ON su.user_id=u.id
        WHERE  s.number=#{number}
               AND su.delete_flag='1'
    </select>
</mapper>
