<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.julius.wisdom_teaching.repository.StudentUserMapper">

    <select id="selectStudentUserInfo" resultType="StudentUser">
        SELECT  student_id AS studentId,user_id AS userId
        FROM    student_user
        WHERE   id=#{id}
    </select>
</mapper>
