<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.julius.wisdom_teaching.repository.StudentManageMapper">

    <sql id="baseSQL">
         name,id_number,sex,birth_date,junior_number,junior_class,
        junior_grade,main_academy,major_number,major_name,
        exam_registration_number,department,grade_number
    </sql>
    <!--
    返回自动增长的主键且设置到id这个属性上
    useGeneratedKeys="true"
     keyProperty="id"
    -->
    <insert id="add" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO student
        (sex,grade,number,department,major,class_teacher)
        VALUES(
        #{sex},
        #{grade},
        #{number},
        #{department},
        #{major},
        #{classTeacher}
        )
    </insert>
    <insert id="addStudentUser">
      INSERT  INTO student_user(student_id,user_id,teacher_name)
      VALUES(#{studentId},#{userId},#{teacherName})
    </insert>

    <insert id="insertStudentInfo">
        INSERT INTO
        student_info_all
        (
        <include refid="baseSQL"/>
        )
        VALUES
        <foreach collection="students" item="item" separator=",">
            (
            #{item.name},#{item.idNumber},#{item.sex},#{item.birthDate},
            #{item.juniorNumber},#{item.juniorClass},#{item.juniorGrade},#{item.mainAcademy},
            #{item.majorNumber},#{item.majorName},#{item.examRegistrationNumber},#{item.department},
            #{item.gradeNumber}
            )
        </foreach>
    </insert>

    <update id="update">
        UPDATE student
        <set>
            <if test="sex!=null">
                sex=#{sex},
            </if>
            <if test="grade!=null">
                grade=#{grade},
            </if>
            <if test="number!=null">
                number=#{number},
            </if>
            <if test="department!=null">
                department=#{department},
            </if>
            <if test="major!=null">
                major=#{major},
            </if>
            <if test="classTeacher!=null">
                class_teacher=#{classTeacher},
            </if>
        </set>
        WHERE id=#{id}
    </update>
    <delete id="delete">
        UPDATE      student_user
        SET         delete_flag='0'
        WHERE       id=#{id}
    </delete>
    <select id="selectStudentIdAndUserIdByNumber" resultType="StudentUser">
      SELECT
	  s.id AS studentId,
	  u.id AS userId
      FROM
	  student s
      LEFT JOIN user u ON s.number = u.username
      WHERE
	  u.username = #{number}
    </select>

</mapper>
