<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.julius.wisdom_teaching.repository.UserMapper">

    <insert id="addOne" useGeneratedKeys="true" keyProperty="id">
     INSERT INTO  user
     (name,username,password,role,create_date)
     VALUES
     (#{name},#{username},#{password},#{role},now())
    </insert>

    <insert id="register">
        INSERT  INTO user(name,username,password,create_date)
        VALUES (#{name},#{username},#{password},NOW())
    </insert>

    <update id="alterPassWord">
        UPDATE user SET password=#{newPassWord}
        WHERE  username=#{username}
    </update>

    <update id="updateStudent">
        UPDATE user
        <set>
            <if test="name!=null">
                name=#{name}
            </if>
        </set>
        WHERE id=#{id}
    </update>
    <update id="freeOrThaw">
     UPDATE  user
     SET     state=#{state}
     WHERE   id=#{id}
    </update>

    <update id="update">
        UPDATE user
        <set>
            name=#{name},
            username=#{username},
            role=#{role}
        </set>
        WHERE id=#{id}
    </update>

    <delete id="deleteUser">
        UPDATE user
        SET delete_flag='0'
        WHERE id=#{id}
    </delete>

    <select id="findUserByUsername" resultType="User">
        SELECT id,name,username,password,role
        FROM user
        <where>
            username=#{username}
            AND delete_flag='1'
        </where>
    </select>

    <select id="loginCheck" resultType="User">
        SELECT name,username,password,role
        FROM user_info
        <where>
            username=#{username}
            AND password=#{password}
            AND role=#{role}
        </where>
    </select>
    <select id="queryUser" resultType="User">
        SELECT  id,name,username,role,create_date AS createDate,state
        FROM    user
        WHERE   delete_flag='1'
    </select>

    <select id="checkIsFreeze" resultType="integer">
        SELECT  COUNT(*) FROM user
        WHERE   username=#{username}
                 AND state='0'
    </select>
</mapper>
