<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.julius.wisdom_teaching.repository.UserMapper">

    <insert id="addOne" useGeneratedKeys="true" keyProperty="id">
     INSERT INTO  user
     (name,username,password,role,create_date)
     VALUES
     (#{name},#{username},#{password},#{role},now())
    </insert>

    <insert id="register" useGeneratedKeys="true" keyProperty="id">
        INSERT  INTO user(name,username,password,role,create_date)
        VALUES (#{name},#{username},#{password},'0',NOW())
    </insert>

    <insert id="addUsersUseTest">
        INSERT INTO user(name,username,role,create_date)
        VALUES
        <foreach collection="users" item="item" separator=",">
            (#{item.name},#{item.username},#{role},NOW())
        </foreach>
    </insert>

    <update id="alterPassWord">
        UPDATE user SET password=#{newPassWord}
        WHERE  username=#{username}
    </update>

    <update id="updateStudent">
        UPDATE user
        <set>
            <if test="name!=null">
                name=#{name}
            </if>
        </set>
        WHERE id=#{id}
    </update>
    <update id="freeOrThaw">
     UPDATE  user
     SET     state=#{state}
     WHERE   id=#{id}
    </update>

    <update id="update">
        UPDATE user
        <set>
            <if test="name!=null">
                name=#{name},
            </if>
            <if test="username!=null">
                username=#{username},
            </if>
            <if test="role!=null">
                role=#{role}
            </if>
        </set>
        WHERE id=#{id}
    </update>

    <update id="updateStudentInfo">

    </update>

    <delete id="deleteUser">
        UPDATE user
        SET delete_flag='0'
        WHERE id=#{id}
    </delete>

    <select id="findUserByUsername" resultType="User">
        SELECT id,name,username,password,role
        FROM user
        <where>
            username=#{username}
        </where>
    </select>

    <select id="loginCheck" resultType="User">
        SELECT name,username,password,role
        FROM user_info
        <where>
            username=#{username}
            AND password=#{password}
            AND role=#{role}
        </where>
    </select>
    <select id="queryUser" resultType="User">
        SELECT id,name,username,role,
        create_date AS createDate,state
        FROM user
        <where>
            <if test="name!=null">
                AND name LIKE CONCAT('%',#{name},'%')
            </if>
            <if test="username!=null">
                AND username LIKE CONCAT('%',#{username},'%')
            </if>
            <if test="state!=null">
                AND state=#{state}
            </if>
            AND delete_flag='1'
        </where>
    </select>

    <select id="checkIsFreeze" resultType="integer">
        SELECT  COUNT(*) FROM user
        WHERE   username=#{username}
                 AND state='0'
    </select>
    <select id="getUserInfoByUsername" resultType="StudentInfo">
    SELECT
	u.NAME,
    s.sex,
    s.grade,
    s.department,
    s.major,
    s.class_teacher AS  classTeacher
    FROM
	user AS u
    LEFT JOIN student AS s ON u.id = s.user_id
    WHERE
	u.username =#{username}
    </select>
</mapper>
