<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.julius.wisdom_teaching.repository.UserMapper">

    <insert id="addOne" useGeneratedKeys="true" keyProperty="id">
     INSERT INTO  user
     (name,username,password,role,created_date)
     VALUES
     (#{name},#{username},#{password},#{role},now())
    </insert>

    <update id="alterPassWord">
        UPDATE user_info SET password=#{newPassWord}
        WHERE  username=#{username} AND password=#{password}
    </update>

    <update id="updateStudent">
        UPDATE user
        <set>
            <if test="name!=null">
                name=#{name}
            </if>
        </set>
        WHERE id=#{id}
    </update>
    <select id="findUserByUsername" resultType="User">
        SELECT id,name,username,password,role
        FROM user
        <where>
            username=#{username}
            AND delete_flag='1'
        </where>
    </select>

    <select id="loginCheck" resultType="User">
        SELECT name,username,password,role
        FROM user_info
        <where>
            username=#{username}
            AND password=#{password}
            AND role=#{role}
        </where>
    </select>
    <select id="queryUser" resultType="User">
        SELECT  id,name,username,created_date,state
        FROM    user
        WHERE  delete_flag='1'
    </select>
</mapper>
