<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>智慧教学系统</title>
    <link href=/dist/static/css/app.7e9c0fd639294be8e0265022c22051c2.css rel=stylesheet>
</head>
<body>
<div id=app></div>
<script type=text/javascript src=/dist/static/js/manifest.f50870fb1aae05fa4e14.js></script>
<script type=text/javascript src=/dist/static/js/vendor.f6311e68e89391d728a0.js></script>
<script type=text/javascript src=/dist/static/js/app.a4a3ff3bd6ad5d139354.js></script>
</body>
</html>
