<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>wisdom_teaching_ui</title>
    <link href=/dist/static/css/app.df508d3072ee6f4b861df8264130e86d.css rel=stylesheet>
</head>
<body>
<div id=app></div>
<script type=text/javascript src=/dist/static/js/manifest.f50870fb1aae05fa4e14.js></script>
<script type=text/javascript src=/dist/static/js/vendor.cae5cf5fee21fad6ecb3.js></script>
<script type=text/javascript src=/dist/static/js/app.0fd46edd24d59d3a663a.js></script>
</body>
</html>